<html>
<head>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script>
	$(document).ready(function() {
		$('#submitBtn').click(function(e) {
			e.preventDefault();
			// object화 시키는 방법
			form1 ={};
			form1['name'] = $('#formId').val();
			form1['age'] = $('#formAge').val();
			console.log($('#formId').val());
			console.log(JSON.stringify(form1));
			$.ajax({
				type : 'POST',
				url : '/devsvr6/api/1.0/form1',
				contentType : 'application/json; charset=utf-8',
				data : JSON.stringify(form1),
				dataType : 'json',
				success : function(data) {
					console.log('good' + data);
				},
				complete : function() {
					console.log('complet');
				}
			});
		});
		
	});
</script>
</head>
<body>
	안녕
	<span th:text="${session.count}"></span>
	<form method="post" action="/devsvr6/api/1.0/form1">
		<input id="formId" type="text" name="username" /> <input type="text"
			name="userage" id="formAge" /> <input id="submitBtn" type="submit" />
	</form>
</body>
</html>


